:root {
    --primary-font-family: 'Roboto', sans-serif;
    --primary-font-size: 0.875rem;
}



body {
    font-family: 'Roboto', sans-serif;
}

html {
    --primary-text-color: #000;
    --primary-bg-color: #fff;
}

footer {
    --footer-text-color: #fff;
    --footer-bg-color: #000;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}

.list-unstyled {
    list-style: none;
}

a {
    text-decoration: none;
}