@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');





body {
    font-family: 'Roboto', sans-serif;
}

html {
    --primary-text-color: #000;
    --primary-bg-color: #fff;
}

footer {
    --footer-text-color: #fff;
    --footer-bg-color: #000;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}

.list-unstyled {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Визначити клас text-uppercase з властивістю text-transform: uppercase;*/

.text-uppercase {
    text-transform: uppercase;
}

/* Визначити клас bg-dark з властивістю background-color: black */

.bg-dark {
    background-color: black;
}

/* Визначити клас text-white з властивістю color: white */
.text-white {
    color: white;
}

/* Визначити селектор ul.categories li a з властивостями color: indigo, text-decoration: none, font-size: 1.2rem */
ul.categories li a {
    color: indigo;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Визначити селектор ul.categories li a з властивостями ul.categories li a:hover, background-color: lightgray */

ul.categories li a:hover {
    background-color: lightgray;
}