@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


@import url('common.css');


body {
    font-family: 'Roboto', sans-serif;
}

html {
    --primary-text-color: #000;
    --primary-bg-color: #fff;
}

footer {
    --footer-text-color: #fff;
    --footer-bg-color: #000;
}


a {
    text-decoration: none;
}


/* Визначити клас text-uppercase з властивістю text-transform: uppercase;*/

.text-uppercase {
    text-transform: uppercase;
}

/* Визначити клас bg-dark з властивістю background-color: black */

.bg-dark {
    background-color: black;
}

/* Визначити клас text-white з властивістю color: white */
.text-white {
    color: white;
}

/* Визначити селектор ul.categories li a з властивостями color: indigo, text-decoration: none, font-size: 1.2rem */
ul.categories li a {
    color: indigo;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Визначити селектор ul.categories li a з властивостями ul.categories li a:hover, background-color: lightgray */

ul.categories li a:hover {
    background-color: lightgray;
}