h1,
h2,
h3 {
    color: grey;
}

#main {
    color: #e60202;
}

.h2 {
    color: red;
}

.heading {
    color: green;
}

ul>li {
    font-weight: bold;
}

section>p {
    color: red;
}

section * {
    font-size: 16px;
}

h2:first-of-type {
    color: indigo;
}

p.first a {
    color: green;
}

.first a {
    color: green;
}

div+p {
    color: salmon;
}

.translucent-box {
    background: hsl(0, 100%, 50%);
}

:root {
    font-size: 100%;
    /* Базовий розмір шрифта для кореневого елемента */
}

body {
    font-size: 140%;
    /* Розмір шрифта для body, збільшений на 40% від базового розміру */
}

h1 {
    font-size: 240%;
    /* Розмір шрифта для h1, збільшений на 140% від базового розміру */
}