h1,
h2,
h3 {
    color: grey;
}

#main {
    color: #e60202;
}

.h2 {
    color: red;
}

.heading {
    color: green;
}

ul>li {
    font-weight: bold;
}

section>p {
    color: red;
}

section * {
    font-size: 16px;