.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'header header header'
        'sidebar main main'
        'footer footer footer';
}


/* Зміна розташування елементів у вигляді однієї колонки на мобільних пристроях */
@media screen and (max-width: 786px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Одна колонка на мобільних пристроях */
    }




    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .footer {
        grid-area: footer;
    }