*,
*::before,
*::after {
    box-sizing: border-box;
}

table {
    width: 50rem;
    border-collapse: collapse;
    margin: 3rem auto;
}

th {
    background-color: indigo;
    color: white;
    font-weight: bold;
}


td,
th {
    padding: 0.625rem;
    /* 10 пікселів перераховано у rem (10px / 16px) */
    border: 1px solid lightgrey;
    text-align: left;
    font-size: 1.125rem;
    /* 18 пікселів перераховано у rem (18px / 16px) */
}


tbody tr:nth-child(odd) {
    background-color: lightgrey;
}




@media (max-width: 50rem) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        border: 1px solid darkgrey;
    }

    td {
        border: none;
        border-bottom: 1px solid lightgray;
    }
}